@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.form-hint{
  background: purple;
  color: white;
  border-radius: 50%;
  // padding-top: 3px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;

  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  // top: 10px;
  position: relative;

}

@media print {
  .form-nav, .action-bar{display: none;}
}

.form-nav{
  padding: 0 20px 0;
  margin-bottom: 20px;

  .secondary{
    margin-top: 20px;
    li a{
      border: none;
      border-radius: 0;
    }
    li.active a{
      background: transparent;
      border-bottom: solid 1px $brand-primary;
      color: $brand-primary;
    }
    li.invalid a{
      color: $brand-danger;
    }
    li.valid a{
      color: $brand-success;
    }
  }
  .primary{
    li.valid a{
      color: $brand-success;
      // color:white;
    }
    li.invalid a{
      color: $brand-danger;
      // color:white;
    }
    // li.invalid.active a, li.valid.active a{
    //   border-bottom: solid 3px $brand-primary;
    // }
  }

  .nav li{
    margin-right: 5px;
  }
}

.q-domestic-or-employer{
  .radio{
    margin-right:20px;
  }
}


.calendar-row{
  & > div {
    padding: 0 11px;
  }
  li{
    margin-top:5px;
    height:40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label{
    font-size: 1em;
    border-radius: 0;
  }

  .time-input-wrapper{
    height: inherit;
    width: 100%;
    padding-right:0px;

    display: flex;
    justify-content: center;
    align-items: center;

    // TODO: make the text unselectable

    *[class^='time-input-']{
      align-self: stretch;


    }
  }

  .time-input-meridiem{
    display: flex;
    padding-left: 3px;
    padding-right: 5px;
    cursor: pointer;
    user-select: none;
    span{
      align-self: center;
    }
  }
  .time-input-field{
    outline: 0;
    background: none;
    padding: 0 3px;
    max-width: 26px;
    border: 0;
    // cursor: ns-resize;

    &.left{
      text-align: right;
    }
    &.right{
      text-align: left;
    }

    &:hover{
      background: rgba(0,0,0,0.05);
    }

  }


  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[readonly]{
    outline: 0;
  }

  .day-name{
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: center;
    align-items: center;
    position: relative;

    background: #3498db;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.1em;
    padding: 0;
    text-decoration: none;
    outline: 0;
    resize: none;

    &:hover {
      background: #3cb0fd;
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }

    &.active{
      background: white;
      border: solid 1px #3498db;
      color: #3498db;
    }


  }

  .time-picker-cell{
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: not-allowed;

    border: solid 1px #3498db;
    color: #3498db;
    font-size: 1.2em;


    &.active{
      border-color: orange;
      color: orange;

      &.invalid{
        border: solid 1px red;
        color: red;
      }
    }
  }
}

.form-section{
  margin-left: 10px;
  margin-bottom: 140px;
}

label p.lead{
  margin-bottom: 0;
}