@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import url(http://fonts.googleapis.com/css?family=Muli:300,400|Bree+Serif);

$black: #3b3f48;
$blue: #8fb1c6;
$yellow: #d3b52b;

$red: #cb3536;
$red-light: #df6359;
$red-lighter: #faaba8;
$green: #38baa4;
$green-light: #88e2d4;
$black-light: #e6e6e6;
$white: #f1f1f2;


// Muli Reg
// Muli light
// Bree Serif Reg

.bg-brand-black{ background: $black; }
.bg-brand-blue{ background: $blue; }
.bg-brand-orange{ background: $red-light; }
.bg-brand-yellow{ background: $yellow; }
.bg-white{ background: white; }

.label-green{ background-color: $green; }
.label-red{ background-color: $red; }
.label-yellow{ background-color: $yellow; }
.label-blue{ background-color: $blue; }

body{
  font-family: 'Muli';
}
h1,h2,h3,h4{
  font-family: 'Bree Serif';
}
.home-section{
  // min-height: 400px;
  padding-top: 70px;
  position: relative !important;
  color: white;


  &:after{
    top: 100%;
    left: 44%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 80px 0 80px;
    z-index: 999;
  }
}

#hs-01{
  &:after{
    border-color: $black transparent transparent transparent;
  }
}

.btn-custom{
  color: white;
  border: solid 2px white;
  border-radius: 0;
  font-size: 2em;
  font-weight: 300;
  padding: 20px 60px;

  &:hover{
    color: white;
    border-color: white;
  }
}
.btn-print{
  color: $blue;
  background-color: white;
  border-radius: 0;
  border: solid 1px $blue;
  &:hover{
    color: $black;
    border-color: $black;
  }
}

.btn-yesno{
  background-color: $yellow;
  color: white;
  border-radius: 0;
  &:hover{
    color: white;
  }
}

#hs-02{
  min-height: 800px;



  &:after{
    border-color: $blue transparent transparent transparent;
  }

}

#hs-03{
  @media(min-width: $screen-md-min){
    .col-lg-4{
      border-left: solid 1px white;
      padding: 0 20px;
    }

    .col-lg-4:first-child{
      border-left: none;
    }
  }
  padding-bottom: 80px;
}

#hs-04{
  .container, .row {
    min-height: 250px;
  }
  .col-lg-6:nth-child(2){
    font-size: 2em;
    padding-top: 20px;
    padding-left: 40px;
  }


  @media(max-width: $screen-md-min){
    .col-lg-6:nth-child(1){
      text-align: center;
    }
  }
  @media(min-width: $screen-md-min){
    .col-lg-6:nth-child(2){
      border-left: solid 1px white;
    }
  }

}

#hs-06{
  color: $black;
  padding-bottom: 40px;
  font-size: 2em;
}


#signup-form{
  margin-top: 40px;

  input[type='text'], input[type='email']{
    background: none !important;
    border-radius: 0;
    margin-bottom: 20px;
    border-color:white;

    &::-webkit-input-placeholder {
       color: white;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: white;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: white;
    }

    &:-ms-input-placeholder {
       color: white;
    }
  }
}



.partners{
  color: $blue;
  .partner-slot{
    display: flex;
    justify-content: center;
    align-items: center;
    height:240px;

    img{
      max-width: 90%;
    }
  }
}






.form-hint{
  // background: purple;
  color: white;
  border-radius: 50%;
  // padding-top: 3px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;

  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  // top: 10px;
  position: relative;

}

@media print {
  .form-nav, .action-bar{display: none;}
}

.form-nav{
  padding: 0 20px 0;
  margin-bottom: 20px;

  .secondary{
    margin-top: 20px;
    li{ background: white; }
    li a{
      border: none;
      border-radius: 0;
      &:hover, &:active, &:link, &:visited{
        background: white;
      }
    }
    li.invalid a{
      background-color: $red-lighter;
      color: $black;
      border-bottom: solid 2px $red;
    }
    li.valid a{
      background-color: $green-light;
      color: $black;
      border-bottom: solid 2px $green;
    }

    li.active a{
      border-bottom: solid 2px $blue;
      color: $black;
    }

  }
  .primary{

    li.valid a{
      background-color: $green-light;
      color: $black;
    }
    li.invalid a{
      background-color: $red-lighter;
      color: $black;
    }

    li.active a{
      border-bottom: solid 3px $blue;
      color: $black;
    }
    // li.invalid.active a, li.valid.active a{
    //   border-bottom: solid 3px $brand-primary;
    // }
  }

  .nav li{
    margin-right: 5px;
  }
}

.q-domestic-or-employer{
  .radio{
    margin-right:20px;
  }
}


.calendar-row{
  & > div {
    padding: 0 11px;
  }
  li{
    margin-top:5px;
    height:40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-lg-1{
    @media(min-width: $screen-lg){
      width: 12%;
    }
  }

  .label{
    font-size: 1em;
    border-radius: 0;
  }

  .time-input-wrapper{
    height: inherit;
    width: 100%;
    padding-right:0px;

    display: flex;
    justify-content: center;
    align-items: center;

    // TODO: make the text unselectable

    *[class^='time-input-']{
      align-self: stretch;


    }


  }

  .time-input-meridiem{
    display: flex;
    padding-left: 3px;
    padding-right: 5px;
    cursor: pointer;
    user-select: none;
    span{
      align-self: center;
    }
  }
  .time-input-field{
    outline: 0;
    background: none;
    padding: 0 3px;
    max-width: 26px;
    border: 0;
    // cursor: ns-resize;

    &.left{
      text-align: right;
    }
    &.right{
      text-align: left;
    }

    &:hover{
      background: rgba(0,0,0,0.05);
    }

  }


  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[readonly]{
    outline: 0;
  }

  .day-name{
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: center;
    align-items: center;
    position: relative;

    background: $blue;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to bottom, lighten($blue,5%), darken($blue,10%));
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: normal;
    padding: 0;
    text-decoration: none;
    outline: 0;
    resize: none;

    &:hover {
      background: #3c4049;
      text-decoration: none;
    }

    &.active{
      background: white;
      border: solid 1px #3498db;
      color: #3498db;
    }


  }

  .total-hours{
    border-color: $blue;
    border-radius: 0;
    color: $blue;
    outline: 0;
    user-select: none;
  }
  .time-picker-cell{
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: not-allowed;

    border: solid 1px $blue;
    color: $blue;
    font-size: 1.2em;


    &.active{
      border-color: $yellow;
      color: $yellow;

      &.invalid{
        border: solid 1px $red;
        color: $red;
      }
    }
  }
}

.form-section{
  margin-left: 10px;
  margin-bottom: 140px;
  padding-left: 15%;
  padding-right: 15%;
}

label p.lead{
  margin-bottom: 0;
}

.final-page{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.final-congrats{


  position: relative;
  &::after {
    content: "";
    background: url('../images/confetti.png') left top repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.st_facebook_custom{
  background: url('../images/circle_FB.png') left top no-repeat;
  padding: 25px 30px 20px;
  margin-right: 10px;
  cursor: pointer;
}
.st_email_custom{
  background: url('../images/circle_mail.png') left top no-repeat;
  padding:25px 30px 20px;
  margin-right: 10px;
  cursor: pointer;
}
.st_twitter_custom{
  background: url('../images/circle_tweet.png') left top no-repeat;
  padding:25px 30px 20px;
  margin-right: 10px;
  cursor: pointer;
}